
body {
    width: 80%;
    margin: 20px auto;
}

/* || Header styles --------- */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

h1 {
    order: 1;
}

section {
    order: 2;
}

/* Main section styles */
main {
    margin: 250px auto;
    width: 50%;
    height: 50%;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

