:root {
    --el-padding: 20px;
    --heading-color: #3882a0;
    --quiz-background: #f4e3b8;
    --quiz-button: #2a9d8f;
}


body {
    width: 80%;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}

/* || Header styles --------- */
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--el-padding);
    
}

h1 {
    font-weight: bold;
    font-size: 27px;
    color: var(--heading-color);
}

header h2 {
    transition: .25s;
    cursor: pointer;
}

header h2:hover {
    color: var(--quiz-button);
}

header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
}

header section {
    order: 2;
    display: flex;
    justify-content: flex-end;
}

/* || Main section styles --------- */
main {
    margin: 150px auto;
    width: 50%;
}

/* || Quiz styles --------- */
article, main section {
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    background: var(--quiz-background);
    height: 400px;
    width: 400px;
    padding: 50px;
    border-radius: 3%;
}

article h2, section h2 {
    padding: var(--el-padding);
    color: var(--heading-color);
    font-size: 20px;
    font-weight: bold;
}

button {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    
}

.quiz-welcome button, #submit {
    background: #3a0ca3;
    color: white;
    font-weight: bold;
    border-radius: 10%;
}

.quizQuest div {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

/* || Quiz button styles --------- */
.quizQuest button {
    margin: 5px 20px;
    background: var(--quiz-button);
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 10000000px;
    padding: 10px 20px;
}


.quizQuest p {
    padding: var(--el-padding);
}


/* || Question styles --------- */
.quizQuest {
    display: none;
}

#entry {
    display: none;
    flex-direction: column;
}

.highscores {
    display: none;
}

#leaderboard li {
    list-style: decimal;
    margin: 5px, 10px;
}


