:root {
    --el-padding: 20px;
}


body {
    width: 80%;
    margin: 20px auto;
}

/* || Header styles --------- */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--el-padding);
}

h1 {
    order: 1;
}

section {
    order: 2;
}

/* || Main section styles --------- */
main {
    margin: 200px auto;
    width: 50%;
}

/* || Quiz styles --------- */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}

article h2 {
    padding: var(--el-padding);
}

.quizQuest p {
    padding: var(--el-padding);
}

button {
    padding: 10px;
}

/* || Question styles --------- */
.quizQuest {
    display: none;
}

